extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              h1 Let teachers teach.
              |                 
              hr
              |                 
              p
                | Smash Learning removes the paperwork from teaching. Use our pre approved by OFSTED lesson plans and let us generate your reports and target grades for you. So you can get back to enjoying teaching.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='#about') Sign up now!
        |     
        section#about.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading About us.
                |                     
                hr.light
                |                     
                p.text-faded
                  | Developed by teachers and learning technologists to resolve the problems of modern teaching. We provide you with the lesson plans and resources needed to teach every lesson every year. We provide a marking solution which will automatically generate target grades and student reports. Allowing you to spend your time helping students and teaching great lessons!
                |                     
                a.btn.btn-default.btn-xl(href='#pricing') Pricing!
        |     
        section#services
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading Powerful tech, at your finger tips.
                |                     
                hr.primary
          |         
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
                  |                         
                  h3 Student Reports
                  |                         
                  p.text-muted Normally, both your asses would be dead as fucking fried chicken,  I wanna help you.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Target Grades
                  |                         
                  p.text-muted but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you,
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 Lesson Plans
                  |                         
                  p.text-muted But I can't give you this case, it don't belong to me. Besides, I've already 

              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Ofsted Ready
                  |                         
                  p.text-muted been through too much shit this morning over this case to hand it over to your dumb ass.
        |     
        aside.bg-dark
          .container.text-center
            .call-to-action
              h2 Who uses us?
              |                 
              a.btn.btn-default.btn-xl.wow.tada(href='#') Start your free trial!
        | 
        section#portfolio.no-padding
          .container-fluid
            .row.no-gutter
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/1.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Solihull, UK
                      |                                 
                      .project-name
                        | Lode Heath School
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/2.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Knowle, UK
                      |                                 
                      .project-name
                        | Arden School
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/3.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Hollywood, UK
                      |                                 
                      .project-name
                        | Woodrush High School
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/4.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Solihull, UK
                      |                                 
                      .project-name
                        | Alderbrook
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/5.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Solihull, UK
                      |                                 
                      .project-name
                        | Solihull Boys
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/6.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Birmingham, UK
                      |                                 
                      .project-name
                        | Grace Academy
        |         
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Get in touch!
                |                     
                hr.primary
                |                     
                p
                  | We would love to hear from you, give us a call or send us a message.
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p 0121 do one
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                |                     
                p
                  a(href='mailto:gburton85@gmail.com') Email Smash!
