doctype html
html(lang="en")
    include ./partials/_head.jade

    body#page-top
      include ./partials/_nav.jade
      block content




script(src='/static/js/libs/jquery.js')
//bootstrap
script(src='/static/js/libs/bootstrap.min.js')
//plugins
script(src='/static/js/libs/jquery.easing.min.js')
script(src='/static/js/libs/jquery.fittext.js')
script(src='/static/js/libs/wow.min.js')
//custom
script(src='/static/js/libs/creative.js')
//client bundle
script(src='/static/js/bundle.js')
