extends ./layout.jade

block content
    header
        .header-content
            .header-content-inner
              .row
                    each post in posts
                        .post
                        .col-lg-4.text-center.portfolio-box
                          .box1
                            h2.sectionheading #{post.title}
                            hr.light
                            a(href='/teacherHome/' + post.title).btn.btn-default Go!